body > #root > div {
  height: 100vh;
}

html {
  --color-dark: #272424;
  --color-background: linear-gradient(
    180deg,
    rgb(122, 156, 194) 0%,
    rgb(113, 149, 183) 25%,
    rgba(97, 142, 173, 1) 50%,
    rgb(88, 137, 169) 75%,
    rgb(77, 131, 163) 100%
  );
  --chineseRed: #b02e0c;
  --lightChineseRed: #af452a;
  --darkChineseRed: #862209;
  --todo-text: #ebe8ca;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-background);
}

hr {
  color: var(--todo-text);
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
}

.TodoList {
  color: var(--todo-text);
  background-color: var(--chineseRed);
  width: 40vw;
}

.TodoList h1,
.TodoList p {
  padding: 0 10px;
}

.TodoItem {
  color: var(--todo-text);
  width: 100%;
  height: 6vh;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--darkChineseRed);
}

.TodoItem p {
  padding: 0 0 0 15px;
  cursor: pointer;
}

.todoIcons {
  margin-right: 10px;
}

.faIcon {
  padding: 0 3px;
  margin: 2px;
  cursor: pointer;
}

.newTodoForm {
  height: 6vh;
  padding: 2px 0 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newTodoForm input,
.newTodoForm button {
  border: none;
  outline: none;
  padding: 5px;
  margin: 7px;
  font-size: 14pt;
  color: var(--color-dark);
  background-color: var(--todo-text);
}

.newTodoForm input {
  margin-left: 5%;
  width: 80%;
}

.newTodoForm button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
  cursor: pointer;
}

.newTodoForm button:active {
  background-color: #fffbdf;
}

.editModeForm input {
  width: 70%;
}

.completed {
  color: rgb(107, 74, 74);
}

@media only screen and (max-width: 720px) {
  .TodoList {
    width: 90vw;
  }
}
